- title 'Resend confirmation instructions'

- slogan(quotation_generator("Email is the greatest thing.", :author => "Wally Amos", :born => 1936))

= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| 
  = devise_error_messages!

  = f.input :email
  = f.button :submit 
    
= render :partial => "devise/shared/links"