- title "My Profile"

- slogan(quotation_generator("Please allow me to introduce myself, I'm a man of wealth and taste", :author => "Mick Jagger and Keith Richards"))


%table{:class=>"profile", :summary=>"Profile information"}
  %tr
    %td
      %h2
        = gravatar_for @user
        = @user.full_name
    %td{:class => "sidebar round"}
      .user_user_name
        %strong
          User name:
        = @user.user_name
      - if @user.known_as
        .user_known_as
          %strong
            Also known as:
          = @user.known_as 
      .user_email
        %strong
          Email: 
        = mail_to @user.email
      .user_url
        %strong
          URL:
        = link_to user_path(@user), @user
-if @user == current_user
  = link_to "Edit my profile", edit_user_path(@user)


