- title('Forgot your password?')

- slogan(quotation_generator("I've a grand memory for forgetting", :author => "Robert Louis Stevenson", :born => 1850, :died => 1894))


= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  = f.input :email
  = f.button :submit, :value => "Send me reset password instructions"
  
= render :partial => "devise/shared/links"