- title("Edit my account")

%div#gravatar
  = link_to "change image", "http://gravatar.com/emails"
  %h2
    = gravatar_for resource
    = @user.full_name

  
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  =field_set_tag :name => "Account details", :id => 'account_details' do
    = f.input :email, :readonly => true
    = f.input :password, :hint => "leave blank if you don't want to change it"
    = f.input :password_confirmation

  =field_set_tag :name => "User details", :id => 'user_details' do
    = f.input :title, :as => :select, :collection => get_titles 
    = f.input :first_name
    = f.input :initials
    = f.input :last_name
    = f.input :known_as

    = f.button :submit, :value => "Update"

%h3 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
= link_to "Back", :back