- title t('.title')

- slogan(quotation_generator("History is little more than the register of the crimes, follies, and misfortunes of mankind.", :author => "Edward Gibbon", :born => 1737, :died => 1794))


= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :validations => true do |f|
  = devise_error_messages!
  = field_set_tag "Account details", :id => 'account_details' do
    = f.input :email, :hint => "This will be your login name. It should be your University email address.", :placeholder => "user_name@swansea.ac.uk"
    = f.input :password
    = f.input :password_confirmation

  = field_set_tag "User details" do
    = f.input :title, :as => :select, :collection => get_titles 
    = f.input :first_name
    = f.input :initials
    = f.input :last_name
    = f.input :known_as, :hint => "Proman will use this when it shows your profile pages. Otherwise it will use your user name."
    
  = f.button :submit, :value => "Register"
%br
    
= render :partial => "devise/shared/links"