- title t('.title')

#account-edit.block
  .content.form.inner
    = semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f|
      = devise_error_messages!
      =f.inputs :name => :account_details, :id => 'account_details' do
        = f.input :email, :required => true
        = f.input :password, :required => true
        = f.input :password_confirmation, :required => true

      =f.inputs :name => :user_details, :id => 'user_details' do
        = f.input :title, :as => :select, :collection => get_titles 
        = f.input :first_name, :required => true
        = f.input :initials
        = f.input :last_name, :required => true
        = f.input :known_as
      =f.buttons do
        = f.commit_button t('.submit')
    %br
    
= render :partial => "devise/shared/links"