- title 'Sign in'

- slogan(quotation_generator("Gee, I am a complete Luddite when it comes to computers, I can barely log on!", :author => "Jonathan Shapiro"))

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = f.input :email
  = f.input :password

  - if devise_mapping.rememberable?
    = f.label :remember_me
    = f.check_box :remember_me
  %br
  = f.button :submit, :value => "Sign in"

= render :partial => "devise/shared/links"